$white: #ffffff;
$color-light: #fafafa;
$color-dark: #272727;
$color-dark-secondary: #9c9c9c;

$dark-blue: #2d314d;
$lime: #31d35c;
$bright: #2bb7da;

$grayish-blue: #9698a6;
$light-grayish-blue: #f3f4f6;

// gradient color
$gradient-primary: linear-gradient(to right, #31d35c, #00d192, #00cbbb, #00c2d4, #2bb7da);

// font weight
$font-weights: (
  "light": 300,
  "regular": 400,
  "bold": 700,
);

//font size
$font-size: (
  "hero": 55px,
  "title": 38px,
  "medium": 18px,
  "default": 16px,
  "small": 14px,
  "x-small": 12px,
);

// media query
$large: 1024px;
$medium: 768px;
$small: 576px;
